.main-layout {
  height: 100%; }
  .main-layout .header-menu-list .header-menu-item {
    float: left;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer; }
  .main-layout .main-content {
    display: flex;
    flex-direction: column; }
